.choosecoffee {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 15px;

  &--row {
    // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
  }
  &--giftset {
    grid-gap: 0;
    grid-template-columns: 1fr 90px;
    margin-left: 250px;
    padding-right: 35px;
  }

  &__box {
    display: grid;
    grid-template-columns: 235px auto;
    transition: box-shadow 0.3s;

    .choosecoffee--row & {
      grid-template-columns: none;
    }

    &--gift {
      display: none;
      grid-template-columns: 260px 1fr;
      background: $background-white1;
    }
    &--active {
      display: grid;
    }

    @media (max-width: 1400px) {
      grid-template-columns: 200px auto;
    }
  }

  &__box:hover {
    box-shadow: 2px 2px 20px hsla(0deg, 0%, 71%, 0.6);
  }

  &__box-img {
    background: $background-gray;

    & > img {
      max-width: 100%;
    }

    &--pos {
      padding-top: 50px;
      background: none;
      & > img {
        max-width: 200%;
        transform: translateX(calc(-50% - 20px));
      }
    }

    .choosecoffee--row & {
      grid-template-columns: none;
    }
  }

  &__box-about {
    padding: 40px 10px 40px 45px;
    background: $background-white1;

    @media (max-width: 1400px) {
      padding-left: 20px;
    }
  }

  &__price {
    display: block;
    padding-bottom: 10px;
    font: $h5-font;
    color: $minor-color;
  }

  &__title {
    @extend .subtitle;
    padding-bottom: 25px;

    &--padding {
      padding-bottom: 10px;
    }

    .choosecoffee--row & {
      padding-bottom: 10px;
    }
  }

  &__desc {
    padding-bottom: 20px;

    &--padding {
      padding: 0 60px 25px 0;
    }

    .choosecoffee--row & {
      padding-bottom: 30px;
    }
  }

  &__previous {
    font: $h7-font;
    color: $primary-color;
    padding-left: 20px;
  }
}
