$main-color: #151d28;
$primary-color: #415167;
$minor-color: #c7a17a;
$title-color: #232c38;
$white-color: #edf0f5;
$btn-color: #f9fbff;
$background-white: #f9fbff;
$background-gray: #edf0f5;
$background-blue: #415167;

$nunito-font: "Nunito", Arial, Helvetica, sans-serif;
$montserrat-font: "Montserrat", Arial, Helvetica, sans-serif;

$main-font: 300 16px/1.38 $nunito-font;

$h1-font: 900 54px/1.3 $montserrat-font;
$h2-font: 900 30px/1.13 $montserrat-font;
$h3-font: 700 24px/1.16 $nunito-font;
$h4-font: 700 16px/1.36 $nunito-font;
$h5-font: 600 20px/1.2 $nunito-font;
$h6-font: 300 16px/1.5 $nunito-font;
$h7-font: 300 14px/1.36 $nunito-font;
